<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>497734307813-kets5a99j8gmc545l4fhbf3oug1c6ee7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.497734307813-kets5a99j8gmc545l4fhbf3oug1c6ee7</string>
	<key>API_KEY</key>
	<string>AIzaSyDo8GKu8MamdPGSu_2o4iQXckVOZWbUd9Q</string>
	<key>GCM_SENDER_ID</key>
	<string>497734307813</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>andeoff.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-5acac</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-5acac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:497734307813:ios:5dd91414d0dd3bf305a90c</string>
</dict>
</plist>